.commentForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 20px 20px 20px;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  margin: auto;
}
#slug {
  height: 20px;
  font-size: 18px;
}
#description {
  height: 200px;
  padding: 10px 0px;
  margin: 10px 0px;
  background: transparent;
  outline: none;
  border: solid 1px aqua;
  font-size: 14px;
  width: 500px;
  max-width: 500px;
  min-width: 300px;
  font-size: 18px;
}

/* #button--submit {
  width: 100px;
  margin: 0 auto;
  color: #4caf50;
  height: 25px;
  font-size: 18px;
} */
