@import url('https://fonts.googleapis.com/css?family=Carter+One|charm|Pacifico');
.container {
  max-width: 700px;
  height: 250px;
  margin: auto;
  justify-content: center;
  align-content: center;
}
.grid-row {
  padding: auto;
  align-content: center;
  height: 100%;
}
#homePara {
  font-family: 'Charm', cursive;
}
#homeHeading {
  font-family: 'Carter One', cursive;
}
