.comment {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: bisque;
}
.commentHeader {
  text-decoration-color: blue;
}

.articleDataStyle.comment#body {
  height: 100px;
  width: 1rem;
  background-color: rgb(207, 213, 144);
  margin: 10px auto;
  display: block;
  font-size: 15px;
  background: aquamarine;
}
