.topBar {
  height: 100px;
  background-color: thistle;
  border-bottom: 1px solid lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: navy;
  background-image: url(https://raw.githubusercontent.com/hayanisaid/bootstrap4-website/master/images/headerback.jpg);
}
