@import url('https://fonts.googleapis.com/css?family=Carter+One|charm|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700');
.container {
  max-width: 700px;
  height: 250px;
  margin: auto;
  justify-content: center;
  align-content: center;
  color: rgb(8, 11, 180);
}
.grid-row {
  padding: auto;
  align-content: center;
  height: 100%;
}
#homePara {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}
#homeHeading {
  font-family: 'Carter One', cursive;
}
